[Unit]
Description=Athan Automation Service 
After=network.target time-sync.target
Wants=time-sync.target

[Service]
#change to your actual username
User=your-username
WorkingDirectory=/var/lib/athan-automation
#you can change the Python virtual environment folder location as needed
ExecStart=/home/your-username/athan-automation-env/bin/python /usr/local/bin/athan-automation
Restart=always

[Install]
WantedBy=multi-user.target

