[Unit]
Description=Athan Automation Service 
After=network.target time-sync.target
Wants=time-sync.target
StartLimitIntervalSec=0

[Service]
#change to your actual username
User=your-username
WorkingDirectory=/var/lib/athan-automation
#you can change the Python virtual environment folder location as needed
ExecStart=/var/lib/athan-automation/env/bin/python /usr/local/bin/athan-automation
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

